* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .hero-container {
    width: 100vw;
    height: 75vh;
    position: relative;
  }
  
  .hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    max-width: 1800px;
    place-items: center;
    mask-image: linear-gradient(to top, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to top, transparent, black 75%);
  }

.hero-caption h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    max-width: 1800px;
    z-index: 1;
}

.hero-caption input{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    text-align: center;
}

.hero-caption .btn {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    max-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 12px;
    background-color: rgba(9, 255, 0, 0.8);
    color: #ffffff;
    text-align: center;
}



@media screen and (max-width: 768px) {
    .hero-caption h1 {
      font-size: 40px;
    }
    .hero-caption input {
      width: 80%;
    }
    .hero-caption .btn {
      width: 40%;
    }
  }

